<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<!-- ******HEADER****** -->
<%= render "/refinery/head" %>
<!--//header-->
<body class="home-page">
<div class="wrapper">
  <%= site_bar -%>
  <%= render "/refinery/header" -%>
</div>
<!--//wrapper-->

<!-- ******CONTENT****** -->
<div class="content container">
  <%= yield %>
</div>
<!--//content-->


<!-- ******FOOTER****** -->
<%= render "/refinery/footer" -%>
<!--//footer-->


<%= render "/refinery/javascripts" %>
</body>
</html>
